@CHARSET "UTF-8";
.detail_table
{
    border-collapse: collapse;   
    border: none;  
    }
    	
.detail_table td
{
	border: #d2d2d2 1px solid;
	font-size: 9pt;
    font-family: Tahoma, Verdana, 宋体;
    }
    	
.td_name
{
    background-color: rgba(204, 204, 204, 0.109803921568627);
    }
    	
td
{
    font-size: 9pt;
    font-family: Tahoma, Verdana, 宋体;
    }