@charset "utf-8";
/* CSS Document */
html,body {
	margin: 0;
	padding: 0;
	border: 0;
	width: 100%;
	height: 100%;
}
.databt {
    font-size: 18px;
    line-height: 46px;
    font-weight: bold;
    overflow: hidden;
    clear: both;
}
/*把miniui的input显示为label*/
.asLabel .mini-textbox-border,
.asLabel .mini-textbox-input,
.asLabel .mini-buttonedit-border,
.asLabel .mini-buttonedit-input,
.asLabel .mini-textboxlist-border
{
	border:0;background:none;cursor:default;
}
.asLabel .mini-buttonedit-button,
.asLabel .mini-textboxlist-close
{
	display:none;
}
.asLabel .mini-textboxlist-item
{
	padding-right:8px;
}